<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cart</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
  <!--  <link href="css/shop-homepage.css" rel="stylesheet">-->

</head>
<style>
    body {
      padding-top: 56px;
    }
</style>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">JavaScript | E-commerce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="nav-item dropdown">
            <a style="margin-left: 5px;  text-decoration:none; font-size: 18px;"
                class="navbar-link text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Категории
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" href="#">Куртки</a>
                 <a class="dropdown-item" href="#">Брюки</a>
                 <a class="dropdown-item" href="#">Обувь</a>
            </div>
       </div>
            <div class="navbar-item ">
                <a class="nav-link text-llight"  href="#">Авторизация</a>
            </div>
            <div class="navbar-item ">
                <a class="nav-link text-llight"  href="#">Регистрация</a>
            </div>

<!--            <div style="margin-left: 15px;" class="navbar-item">-->
<!--              {% if request.user.is_authenticated %}-->
<!--                  <span  class="navbar text text-light">Здравствуйте,-->
<!--                      <span style="margin-left: 15px; " class="badge badge-danger">-->
<!--                      <a style="margin-left: 5px; margin-right: 5px; color:white; text-decoration: none; font-size: 14px;" href="{% url 'profile' %}">-->
<!--                          {{ request.user.username }}-->
<!--                      </a>-->
<!--                    </span>-->
<!--                    |  <a href="{% url 'logout' %}"> Выйти</a>-->
<!--                  </span>-->
<!--              {% endif %}-->
<!--            </div>-->


      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Корзина <span class="badge badge-pill badge-danger">0</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
      
      <div class="col-lg-12">

        <!-- cart-main-area start -->
        <h3 class="text-center mt-5 mb-5">Корзина</h3>
  
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Message_PlaceHolder</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
  
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Изображение</th>
            <th scope="col">Цена</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Сумма</th>
            <th scope="col">Действие</th>
          </tr>
          </thead>
          <tbody class="cart-products">
          
          <!--    Cart Items-->
          
<!--          <tr>-->
<!--            <th scope="row">ItemTitle</th>-->
<!--            <td class="w-25"><img src="http://placehold.it/150x150" class="img-fluid"></td>-->
<!--            <td>0 руб.</td>-->
<!--            <td>-->
<!--              <form action="#" method="POST">-->
<!--                <input type="number" class="form-control" name="qty" style="width: 70px;" min="1" value="1">-->
<!--                <br>-->
<!--                <input type="submit" class="btn btn-primary" value="Изменить кол-во">-->
<!--              </form>-->
<!--            </td>-->
<!--            <td>0 руб.</td>-->
<!--            <td>-->
<!--              <a href="#"><button class="btn btn-danger">Удалить из корзины</button></a>-->
<!--            </td>-->
<!--          </tr>-->
          
          <!--    End Cart Items-->
          
          </tbody>
          <tr>
            <td colspan="3"></td>
            <td>Итого:</td>
<!--            <td>0</td>-->
            <td><strong>0 руб.</strong></td>
            <td><a href="#"><button class="btn btn-primary">Перейти к оформлению</button></a></td>
          </tr>
        </table>
        <!-- cart-main-area end -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/cart.js"></script>
</body>

</html>
